<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmallCoreAnimationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A0FEAE21C9067060012C47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A0FEAFB1C9067070012C47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A0FEB061C9067070012C47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
